body{
    background-color: #ecf0f1;
}
.button {
    color: #fff;
    background-color: #76c7c0;
    border: 0px solid #76c7c0;
    border-radius: .3em;
    margin: 0;

}
.button-group > li > button, .button-group > li .button {
    border: 1px solid #76c7c0;
}
.button-group > li > button, .button-group > li .button:hover {
    border-bottom: 3px solid #47817e;
}
#header {
    background-color: #76c7c0;
}
#logo {
    background: none;
}

 #allTitle{
     margin-top: 1%;
     margin-bottom: 1%;
 }

.button:hover{
     color: #ffffff;
     background-color: #62a29e;
     border-botom: 3em solid #1c2f2e;
    border-radius: .3em;

}

.button:focus{
    color: #ffffff;
    background-color: #62a29e;
    border-botom: 1em solid #1c2f2e;
    border-radius: .3em;
}
.button:active{
    color: #ffffff;
    background-color: #62a29e;
    border-botom: 1em solid #1c2f2e;
    border-radius: .3em;
}
.button-group {
    margin: 5% 0 0 0;

}
#mainPic {
    background-color: #E6E7E8;
}
.compass {
    display: block;
    position: relative;
    font-size:2.2em;
    height: 1em;
    width: 1em;
    border: 0.1em solid #2c2c2c;
    border-radius: 1em;
    position: absolute;
    top: 30%;
    left: 10%;

    -webkit-box-shadow: inset 0 -0.5em rgba(0,0,0,0.15),inset 0 0 0.4em rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 -0.5em rgba(0,0,0,0.15),inset 0 0 0.4em rgba(0,0,0,0.2);
    -o-box-shadow: inset 0 -0.5em rgba(0,0,0,0.15),inset 0 0 0.4em rgba(0,0,0,0.2);
    -ms-box-shadow: inset 0 -0.5em rgba(0,0,0,0.15),inset 0 0 0.4em rgba(0,0,0,0.2);
    box-shadow: inset 0 -0.5em rgba(0,0,0,0.15),inset 0 0 0.4em rgba(0,0,0,0.2);
}

@-webkit-keyframes ajax-loader-rotate {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes ajax-loader-rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes ajax-loader-rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.ajax-loader {
    position: absolute;
    top: 45%;

    left: 69%;
    opacity: .8;
    display: block;
    border-radius: 50%;

    font-size: 29px;
    width: .25em;
    height: .25em;

    box-shadow:
    0 -.4em       0 0 rgba(0,0,0,1),
    -.28em -.28em 0 0 rgba(0,0,0,.75),
    -.4em 0       0 0 rgba(0,0,0,.50),
    -.28em .28em  0 0 rgba(0,0,0,.25);

    -webkit-animation: .85s ajax-loader-rotate steps(8) infinite;
    -moz-animation: .85s ajax-loader-rotate steps(8) infinite;
    animation: .85s ajax-loader-rotate steps(8) infinite;
}
@-webkit-keyframes ajax-loader-rotate {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes ajax-loader-rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes ajax-loader-rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.ajax-loaderS {
    position: absolute;
    top: 50%;

    left: 85%;
    opacity: .8;
    display: block;
    border-radius: 50%;

    font-size: 29px;
    width: .25em;
    height: .25em;

    box-shadow:
    0 -.4em       0 0 rgba(0,0,0,1),
    -.28em -.28em 0 0 rgba(0,0,0,.75),
    -.4em 0       0 0 rgba(0,0,0,.50),
    -.28em .28em  0 0 rgba(0,0,0,.25);


}
.ajax-loaderS {
    -webkit-animation: .85s ajax-loader-rotate steps(8) infinite;
    -moz-animation: .85s ajax-loader-rotate steps(8) infinite;
    animation: .85s ajax-loader-rotate steps(8) infinite;
}
.compPict img {
    position: absolute;
    top: 25%;
    left: 14%;
    width: 30%;
    height: 38%;
}
.compPict img:hover {
    position: absolute;
    top: 24.6%;
    left: 13.5%;
    width: 32%;
    height: 40%;

}
#enter {
    border: 1px solid #7f8c8d;
    border-radius: 4px;
    padding-bottom: 1em;
}
.myButtons  {
    list-style-type: none;

}
.myButtons li {

    margin: 3% 0% 2% -1.3em;
    text-align: center;
    width: 100%;
    height: 3em;

}


.myButtons a {

    width: 100%;
    height: 100%;



}
.googleplus {
    position: relative;
    font-size: 20px;
    height: 3em;
    width: 3em;
    background: #76c7c0;
    display: block;
    border-radius: 0.3em;
    overflow: hidden;
    float: left;
}
.googleplus:hover {
    background: #e74c3c;
}
.googleplus::before {
    left: 0em;
    font-size: 2.9em;
    top: -0.36em;
    position: absolute;
    display: block;
    content: "g";
    color: #EDEEE8;
    font-family: georgia;
}
.googleplus::after {
    left: 1em;
    top: 0em;
    position: absolute;
    display: block;
    content: "+";
    font-size: 1.25em;
    font-weight: bold;
    color: #EDEEE8;
    font-family: georgia;
}
.facebook {
    position: relative;
    left: 4em;
    font-size: 20px;
    height: 3em;
    width: 3em;
    background: #76c7c0;
    display: block;
    border-radius: 0.3em;
}
.facebook:hover{
  background: #3498db;
}
.facebook::before {
    left: 0.85em;
    top: 1.1em;
    position: absolute;
    display: block;
    content: "";
    height: 0.35em;
    width: 0.8em;
    background: #EDEEE8;
}
.facebook::after {
    left: 1.1em;
    top: 0.5em;
    position: absolute;
    display: block;
    content: "";
    height: 2em;
    width: 0.3em;
    border-radius: 0.4em 0 0 0;
    border: 0.3em solid #EDEEE8;
    border-right: 0;
    border-bottom: 0;
}
#about {
    margin-top: 3%;
    font-family: sans-serif, arial, helvetica, sans-serif;
}